*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.app{
  text-align: center;
  margin-top: 20px;
  
}
.accordian-container{
 
  width: 800px;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: rgba(215, 211, 211, 0.605);
  border-radius: 5px;
}
.accordion{
  margin: 10px;
}

.head{
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  background-color: whitesmoke;
  user-select: none;
  cursor: pointer;
}
.head:hover{
  background-color: rgba(136, 129, 129, 0.558);
}
.body{
   background-color: white;
    padding: 15px;
    border-bottom: 1px solid gray;
    text-align: left;

}